# No incluir nada de node_modules
# Si se quiere instalar, correr estos dos comandos:
# npm install --save --save-exact
# npm install --save-dev --save-exact
Dockerfile
node_modules/*
dist/*
local_scripts/*


# Otros archivos no deseados
.DS_Store
.DS_Store?
